@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Ops+One&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap'); 


html, body {
  font-family: 'Lato', Arial, sans-serif;
  background-color: #624F82; 
  line-height: 1.3;
  word-spacing: 4px;
}
#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 323px;
  height: 100%;
  overflow-y:auto;
  background-color: #000000;
  font-weight: 600;
}
#navbar header {
  font-size: 35px;
  font-weight: 900;
  margin: 7px;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 2px solid #000000;
  font-family: 'Berkshire Swash', cursive; 
  color:crimson;
  background-image: linear-gradient(to right,rgb(238, 8, 104),rgb(236, 8, 103) ,orange,rgb(238, 10, 97),rgb(231, 18, 89));
       color:transparent;
       background-clip: text;
       -webkit-background-clip: text;
}
header:not(#navbar header){
  text-align: center;
  font-size:30px;
  border-radius: 7px;
  font-family: cursive;
  padding: 5px;
  padding-left: 15px;
  font-weight: 600;
  margin-bottom: 30px;
  background-image: linear-gradient(to right,white,#404041,rgb(0, 0, 0),white,rgb(5, 2, 7),rgb(81, 79, 83),white); 
  color: rgb(204, 4, 64);
  box-shadow: 0px 0px 15px rgb(99, 110, 112);
  font-family: 'Black Ops One', cursive; 
       
}
ul{
  list-style-type: circle;
}
.nav-link {
  padding: 3px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
#navbar li { 
  color: rgb(255, 35, 82);
  font-size:17px;
  font-family: 'Aclonica', sans-serif;
  padding: 7px;
  list-style: none;
  position: relative;
  right: 20px;
  border-radius: 7px;
  box-shadow: 0px 12px 10px #000000; 
  background-image: linear-gradient(to right,rgb(92, 62, 104),white,rgb(131, 84, 150));
}
#navbar li:hover{
  background-color:rgba(5, 171, 5, 0.7);
  color:rgb(3, 3, 114); 
}
article{
  margin:10px;
  font-size: 17px;
  color:rgb(236, 234, 235);
  font-family: cursive;
}
#main-doc {
  position: absolute;
  margin-left: 311px;
  margin-bottom: 109px;
  padding: 23px;
}
#main-doc header {
  text-align: left;
  margin: auto;
  margin-top: 37px;
}
#main-doc a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 116, 146);
}
#main-doc a:hover{
  color:rgb(2, 2, 128)
}
.main-section {
  margin: 17px;
}
p {
  margin-left: 23px;
  width:94%;
  max-width: 100%;
}
h1 {
  font-size: 2em;
}
h2{
  font-family: 'Aclonica', sans-serif;
  background-image: linear-gradient(to right,rgb(193, 5, 77),rgb(250, 81, 151) ,rgb(247, 89, 162),rgb(238, 65, 166));
       color:transparent;
       background-clip: text;
       -webkit-background-clip: text;
}
#heading_code {
  line-height: .8;
}
section li {
  margin: 17px 0px 0px 23px;
}
img {
  margin-top: 13px;
  margin-left: 23px;
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 13px;
  margin-left: 23px;
  margin-bottom: 31px;
}
.code {
  display: block;
  background-color: #d9d5d5;
  color: rgb(11, 2, 87);
  text-align: left;
  white-space: pre-wrap;
  position: relative;
  word-break: normal;
  width: 79%;
  max-width: 100%;
  line-height: 2;
  padding: 13px;
  margin: 11px;
  margin-left: 23px;
  border-radius: 7px;
}
#copy-button {
  color: rgb(39, 37, 37);
  margin: -70px;
  border-radius: 5px;
  background-color: rgb(193, 5, 77);
  padding: 5px;
  cursor: pointer;
}
#copy-button:hover {
  background-color: rgb(220, 178, 194);
}
footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: right;
  padding: 3px;
}
@media only screen and (max-width: 736px) {
  #navbar ul {
    height: 207px;
  }
  #navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 3px solid white;
  }
  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
  footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
  }
}
@media only screen 
  and (max-device-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
  .code {
    font-size: .75em;
    margin-left: -20px;
    max-width: 100%;
    padding: 15px 45px 15px 10px;
    min-width: 233px;
  }
  footer {
    padding: 3px;
  }
}
