@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  font-family: 'Lato', Arial, sans-serif;
  background-color: rgb(0,100,0);
  color: white;
  line-height: 1.3;
}
#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 323px;
  height: 100%;
  border: 1px solid white;
  overflow-y: scroll;
}
header {
  font-size: 31px;
  margin: 7px;
  text-align: center;
}
.nav-link {
  padding: 3px;
  text-decoration: none;
  cursor: pointer;
}
#navbar li {
  color: white;
  border: 1px solid;
  padding: 7px;
  list-style: none;
  position: relative;
  right: 17px;
}
#main-doc {
  position: absolute;
  margin-left: 311px;
  margin-bottom: 109px;
  padding: 23px;
}
#main-doc header {
  text-align: left;
  margin: auto;
  margin-top: 37px;
}
#main-doc a {
  font-weight: bold;
  color: rgb(153,153,144);
}
.main-section {
  margin: 17px;
}
p {
  margin-left: 23px;
  width: 80%;
  max-width: 100%;
}
h1 {
  font-size: 2em;
}
#heading_code {
  line-height: .8;
}
section li {
  margin: 17px 0px 0px 23px;
}
img {
  margin-top: 13px;
  margin-left: 23px;
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 13px;
  margin-left: 23px;
  margin-bottom: 31px;
}
code {
  display: block;
  background-color: #eeeeee;
  color: black;
  text-align: left;
  white-space: pre-wrap;
  position: relative;
  word-break: normal;
  width: 79%;
  max-width: 100%;
  line-height: 2;
  padding: 13px;
  margin: 11px;
  margin-left: 23px;
  border-radius: 7px;
}
footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: right;
  padding: 3px;
}
@media only screen and (max-width: 736px) {
  #navbar ul {
    height: 207px;
  }
  #navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 3px solid white;
  }
  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
  footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
  }
}
@media only screen 
  and (max-device-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
  code {
    font-size: .75em;
    margin-left: -20px;
    max-width: 100%;
    padding: 15px 45px 15px 10px;
    min-width: 233px;
  }
  footer {
    padding: 3px;
  }
}